.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */
  margin: 1%;
  display: flex;
  flex-direction: row-reverse;
  -ms-flex-align: baseline;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* align-self: flex-start; */
}

@media (max-width: 30px) {
  .slides {
    height: 50vmax;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 25px) {
  .slides {
    height: 50vmax;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #849f50;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
